# Reading data from XML

In [1]:
import pandas as pd

In [3]:
df = pd.read_xml("example.xml")

In [4]:
print(df)

    name             major  age
0  Alice  Computer Science   20
1    Bob        Philosophy   22
2   Mary           Biology   21

## Alternative Structure of an XML Object

- Not every XML document is suitable to be transformed into a Pandas data frame.

In [5]:
xml = """<?xml version='1.0' encoding='utf-8'?>
<data>
    <student name = "Alice" major = "Computer Science" age = "20"/>
    <student name = "Bob" major = "Philosophy" age = "22"/>
    <student name = "Mary" major = "Biology" age = "21"/>
</data>"""

In [9]:
df = pd.read_xml(xml, xpath=".//student")
print(df)

    name             major  age
0  Alice  Computer Science   20
1    Bob        Philosophy   22
2   Mary           Biology   21

In [10]:
df = pd.read_xml(xml)
print(df)

    name             major  age
0  Alice  Computer Science   20
1    Bob        Philosophy   22
2   Mary           Biology   21

## Rendering a Pandas data frame to an XML object

In [12]:
print(df.to_xml())

<?xml version='1.0' encoding='utf-8'?>
<data>
  <row>
    <index>0</index>
    <name>Alice</name>
    <major>Computer Science</major>
    <age>20</age>
  </row>
  <row>
    <index>1</index>
    <name>Bob</name>
    <major>Philosophy</major>
    <age>22</age>
  </row>
  <row>
    <index>2</index>
    <name>Mary</name>
    <major>Biology</major>
    <age>21</age>
  </row>
</data>

In [13]:
print(df.to_xml(row_name = "student", index=False))

<?xml version='1.0' encoding='utf-8'?>
<data>
  <student>
    <name>Alice</name>
    <major>Computer Science</major>
    <age>20</age>
  </student>
  <student>
    <name>Bob</name>
    <major>Philosophy</major>
    <age>22</age>
  </student>
  <student>
    <name>Mary</name>
    <major>Biology</major>
    <age>21</age>
  </student>
</data>

In [ ]:
data = df.to_xml(row_name = "student", index=False)

with open("new_xml.xml", "w") as file:
    file.write(data)