In [1]:
patients = {
         "Name":{"0":"John","1":"Nick","2":"Ali","3":"Joseph"},
         "Gender":{"0":"Male","1":"Male","2":"Female","3":"Male"},
         "Nationality":{"0":"UK","1":"French","2":"USA","3":"Brazil"},
         "Age" :{"0":10,"1":25,"2":35,"3":29}
}

In [2]:
cars = [
    {"Name":"Honda", "Price": 10000, "Model":2005, "Power": 1300},
    {"Name":"Toyota", "Price": 12000, "Model":2010, "Power": 1600},
    {"Name":"Audi", "Price": 25000, "Model":2017, "Power": 1800},
    {"Name":"Ford", "Price": 28000, "Model":2009, "Power": 1200},
         
]

In [6]:
import json
import pandas as pd
with open('patients.json', 'w') as f:
    json.dump(patients, f)
    
with open('cars.json', 'w') as f:
    json.dump(cars, f)

In [7]:
patients_df = pd.read_json('patients.json')
patients_df.head()

     Name  Gender Nationality  Age
0    John    Male          UK   10
1    Nick    Male      French   25
2     Ali  Female         USA   35
3  Joseph    Male      Brazil   29

In [9]:
cars_df = pd.read_json('cars.json')
cars_df.head()

     Name  Price  Model  Power
0   Honda  10000   2005   1300
1  Toyota  12000   2010   1600
2    Audi  25000   2017   1800
3    Ford  28000   2009   1200