In [1]:
# Different ways to initialize strings in python
A="Good"

B='Morning'

C="""Students"""

D='''From 
    Atin''' #can be multiline

print(A,B,C,D)

Good Morning Students From
    Atin

In [2]:
A = ' Atin "Gupta"s '
print(A)

 Atin "Gupta"s

In [3]:
A = """ Atin 'Gupta"s """
print(A)

 Atin 'Gupta"s

In [4]:
# There are various escape sequences provided in python that can be used to display quotes, newline, Backslash
A='Hello!\Atin'
print(A)
B=input('Your name please? ')
print('Hi \'%s\''%B)

print("C:\\Python32\\Lib")

Hello!\Atin
Your name please? Atin
Hi 'Atin'
C:\Python32\Lib

In [5]:
# Now takes names and surnames of all her friends as input, seperated by ,
Names=input('Names:').split(',')
print(Names)

Names:Atin,Gupta
['Atin', 'Gupta']

In [6]:
#wait a second! He didn't capitalize first letter of some names
print(Names[1].capitalize())

Gupta

In [7]:
Surnames=input('Surnames: ').split(',')
print(Surnames)

Surnames: Gupta
['Gupta']

In [8]:
# The the full name of second friend will be
print(Names[1].capitalize()+' '+Surnames[1].capitalize())

IndexError: ignored

In [ ]:
# Let us see some more functions on strings
quote1='''Happiness can be defined, in part at least, 
        as the fruit of the desire and ability to sacrifice 
        what we want now for what we want eventually
     '''
quote2='Sadness is but a wall between two gardens'
print('Quote 1 Startswith \'Happiness\': ',quote1.startswith('Happiness'))
print('Quote 2 Startswith \'Happiness\': ', quote2.startswith('Happiness'))
print('Quote 1 Endstwith \'gardens\': ', quote1.endswith('gardens'))
print('Quote 2 Endsswith \'gardens\': ', quote2.endswith('gardens'))

In [ ]:
def myfunc():
  "Its my function"
  pass

In [ ]:
myfunc()

In [ ]:
dir(quote1)

In [ ]:
quote1

In [ ]:
quote1[::-1]

In [ ]:
print(f'index of \'fruit\': {quote1.index("fruit")}')
print(quote1[60:65]) #slicing in strings
print(quote1[60:])
print(quote1[:60])
print(quote1[::-1]) # reverse of string
print(quote1[60:-16])

In [ ]:
quote1.replace('fruit','result')
print(quote1) #no change why? Strings are immutable we need to assign to new one
quote3=quote1.replace('fruit','result')
print(quote3)

In [ ]:
# Find out whether the given string is a number or text
# if its text, change the case

text=input('String:')
print(text.isnumeric())
print(text.isalpha())

In [ ]:
print(text.isupper())
print(text.islower())
print(text.istitle())

In [ ]:
#upper will change the case to uppercase, lower for lowercase and swapcase function will change case of every character
print(text.upper())

In [ ]:
# Format Function
print(f"my age is: {age} and name is :{name}")

# Format Function
print("my age is: {1} and name is :{0}".format(age, name))

In [ ]:
# Format Function
print("my age is: {0} and name is :{1}".format(input("age "),input("name ")))

In [ ]:
# Format Function
print("my age is: {1} and name is :{0}".format(input("age "),input("name ")))

In [ ]:
# Encode and Decode Function
## SENDER SIDE
str1='Atin'
print(type(str1))

In [ ]:
str2=str1.encode('utf-8')
print(str2)
print(type(str2))

In [ ]:
str3 = b"Atin"

In [ ]:
type(str3)

In [ ]:
print(str3)

In [ ]:
## RECEIVER SIDE
result=str2.decode('utf-8')
print(result)
print(type(result))

In [ ]:
## Find vs Index
print('Gupta x'.find('x'))  #returns -1 if missing
print('Gupta x'.index('x'))  # returns value error if missing
print('Gupta'.index('x'))  # returns value error if missing

In [ ]:
# Given a string of odd length greater 7, return a string made of the middle three chars of a given String

#Case 1:
#str1 = "JhonDipPeta"
#Expected Output:
#Dip

#Case 2:
#str2 = "JaSonAy"
#Expected Output:
#Son

In [ ]:
#Given 2 strings, s1 and s2, create a new string by appending s2 in the middle of s1

# Given:
# s1 = "Ault"
# s2 = "Kelly"
# Expected Output:
# AuKellylt